@import "tailwindcss";

@theme {
  --color-primary: #d41132;
  --color-background-dark: #221013;
  --font-display: "Plus Jakarta Sans", "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
